# no-www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.mhyee.com$ [NC]
RewriteRule ^(.*)$ http://mhyee.com/$1 [R=301,L]

# Redirect out of directories to proper pages
Redirect /blog/index.html /blog.html
Redirect /resume/index.html /
Redirect /styles/index.html /

# Redirect old pages to index
Redirect /about.html /
Redirect /resume.html /
Redirect /resume/YeeMing-Ho_resume_online.pdf /resume/resume.pdf
Redirect /resume/YeeMing-Ho_resume_online.html /resume/resume.html
Redirect /resume/YeeMing-Ho_resume_online.txt /resume/resume.txt
Redirect /resume/YeeMing-Ho_resume_online.tex /resume/resume.tex

# Redirect for old WordPress links
Redirect 301 /blog/archives/7 /blog/triboot.html
Redirect 301 /blog/archives/60 /blog/msci_macro.html
Redirect 301 /blog/archives/72 /blog/gcc_opts.html
Redirect 301 /blog/archives/71 /blog/robarts.html
Redirect 301 /blog/archives/85 /blog/reach2009.html
Redirect 301 /blog/archives/104 /blog/xml_resume.html
