---
title: Blog
---

<h1>Blog</h1>

<% sorted_articles.each do |article| %>
  <% url = url_for(article) %>
  <article>
    <a href="<%= url %>">
      <h2><%= article[:title] %></h2>
    </a>
    <div class="date">
      <%= pretty_time(article[:created_at]) %>
    </div>
    <p>
      <%= article[:excerpt] %>
    </p>
  </article>
  <hr/>
<% end %>
