---
title:
---

<h1>Hello World!</h1>

<p>
  My name is Ming-Ho Yee. I'm currently a software engineering student at the
  University of Waterloo, in Canada.
</p>

<p>
  This website is the home of my <a href="/blog.html">blog</a> and
  <a href="/resume.html">resume</a>. I also have a section for my undergraduate
  <a href="/fydp.html">fourth-year design project</a>.
</p>

<p>
  You can also find me on <a href="https://github.com/mhyee">GitHub</a>,
  <a href="https://twitter.com/mhyee">Twitter</a>, and
  <a href="https://www.linkedin.com/in/mhyee">LinkedIn</a>.
</p>


<h2>The latest blog post</h2>
<% article = sorted_articles.first %>
<h3><a href="<%= url_for article %>"><%= article[:title] %></a></h3>
<div class="date"><%= pretty_time article[:created_at] %></div>

<p>
  <%= sorted_articles.first[:excerpt] %>
</p>
