/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, a, ul, ol, li, p, strong, em, del, table, thead, tr, th, td, blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
:focus {
	outline: none;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
details summary {
  cursor: pointer;
}
