/* Dark style */
@media (prefers-color-scheme: dark) {
  body {
    background: #3c393c !important;
    color: #ddd !important;
    background-image:url('bg.png') !important;
    background-repeat:repeat-x !important;
  }
    #content {
      background: #353135 !important;
    }
      #content a {
        color: #b0bddc !important;
        border-color: #b0bddc !important;
      }
      #content a:visited {
        color: #8398c9 !important;
        border-color: #8398c9 !important;
      }
}

/* Mobile style */
@media only screen and (max-width: 800px) {
  #topnav {
    width: 100% !important;
  }
    #topnav ul {
      margin-right: 2px !important;
    }
  #name_title {
    width: calc(100% - 10px) !important;
    margin-left: 10px !important;
  }
  #content {
    width: calc(100% - 20px) !important;
    padding: 0 10px 15px !important;
  }
}

/* Main styles */
body {
  background: #ddd;
  font-family:"Open Sans",sans-serif;
  font-size: 15px;
  color: #323233;
  line-height: 1.2;
  background-image:url('bg.png');
  background-repeat:repeat-x;
}

code {
  font-family:"Roboto Mono",monospace;
}

.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
:focus-visible {
  outline: thin dotted #0085f2;
}

  #topnav {
    width: 800px;
    height: 40px;
    margin-top: 5px;
    margin: auto;
    font-size: 16px;
  }
    #topnav .active {
      color: #b0bddc;
      padding: 10px 5px;
    }
    #topnav a {
      text-decoration: none;
      color: #d1d1d1;
      padding: 10px 5px;
    }
    #topnav a:hover {
      color: #b0bddc !important;
    }
      #topnav ul {
        float: right;
      }
      #topnav ul li {
        float: left;
        margin-top: 10px;
      }

  #wrapper {
    padding-top: 20px;
  }
    #name_title {
      background: transparent url("logo.png") no-repeat;
      width: 795px;
      margin: 0 auto;
      text-indent: -9000px;
      height: 65px;
      position: relative;
    }
      #name_title .link {
        position: absolute;
        width: 250px;
        height: 100%;
        top: -10px;
        left: 0;
      }

    #content {
      background: #eee;
      width: 770px;
      margin: auto;
      padding: 0 15px 15px;
    }
      #content h1 {
        font-size: 32px;
        font-weight:600;
        padding: 0.5em 0;
      }
      #content h2 {
        font-size: 24px;
        font-weight:600;
        padding: 0 0 0.5em;
      }
      #content h3 {
        font-size: 20px;
        font-weight: 600;
        padding: 0 0 0.3em;
      }
      #content h4 {
        font-size: 16px;
        font-weight: 600;
      }
      #content p {
        margin-bottom: 1em;
      }
      #content a {
        color:#2f519e;
        text-decoration:none;
        border-bottom: 1px dotted #2f519e;
      }
      #content a:hover {
        text-decoration:none;
        border-bottom: none;
      }
      #content a:visited {
        color:#14337b;
        text-decoration:none;
        border-bottom: 1px dotted #14337b;
      }
      #content ul {
        list-style: disc;
        margin-bottom: 1em;
      }
      #content ol {
        list-style: decimal;
        margin-bottom: 1em;
      }
      #content li {
        margin-left: 20px;
        margin-bottom: 2px;
      }
      #content .date {
        font-size: 9pt;
        margin-top: -10px;
        margin-bottom: 1em;
      }
      #content .date:before {
        content: "» ";
      }
      #content del {
        text-decoration: line-through;
      }
      #content strong {
        font-weight: bold;
      }
      #content em {
        font-style: italic;
      }
      #content .tt, #content pre {
        font-family: "Roboto Mono", monospace;
        font-size: inherit;
        overflow-x: auto;
      }
      #content pre {
        background: #272822;
        color: #f8f8f2;
        padding: 5px;
      }
      #content blockquote {
        font-style: italic;
        border-left: 3px solid #ccc;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 10px;
        padding-left: 15px;
      }
      #content .backtoblog {
        float: left;
      }
      #content .subscribe {
        float: right;
        margin-top: -5px;
        margin-bottom: 5px;
      }

  footer {
    width: 100%;
    padding-top: 15px;
    font-size:11px;
    text-align:center;
    padding:10px 0;
    color:#575757;
  }
    footer a {
      color:#2f519e;
      text-decoration:none;
    }
    footer a:hover {
      text-decoration: underline;
    }
    footer a:visited {
      color:#486dc0;
      text-decoration:underline;
    }

    #bottomnav {
      width: 750px;
      margin: auto;
      display:none;
    }

    #info {
      clear: left;
      text-align: center;
      padding: 0;
      font-size: 11px;
    }
