!!! 5
%html{:lang => "en"}
  = render 'head'
  %body
    %header
      = render 'nav'
    #wrapper
      #name_title
        %a{:href => "/", :class => "link"}
          Ming-Ho
      #content= yield
    = render 'footer'
