%footer
  #info
    Copyright &#169; 2010&ndash;2012 Ming-Ho Yee
    %br
    Valid #{link_to("HTML", "http://validator.w3.org/check?uri=referer")}
    and #{link_to("CSS", "http://jigsaw.w3.org/css-validator/check/referer")}
