%head
  %meta{:charset => "utf-8"}
  %title= title
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/reset.css"}
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/style.css"}
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/pygments.css"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "https://fonts.googleapis.com/css?family=Roboto:400,400italic,500|Inconsolata"}
