%head
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= title
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/reset.css"}
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/style.css"}
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/pygments.css"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans:i,b,600|Roboto+Mono|Roboto+Mono:i,b"}
  %link{:rel => "icon", :type => "image/png", :href => "/styles/favicon.png"}
