%head
  %meta{:charset => "utf-8"}
  %title= title
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/reset.css"}
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/style.css"}
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/pygments.css"}
  /[if lt IE 9]
    %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
  %meta{:name => "generator", :content => "nanoc 3.2.4"}
