%head
  %meta{:charset => "utf-8"}
  %title= title
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/reset.css"}
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/style.css"}
  %link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/styles/pygments.css"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "https://fonts.googleapis.com/css?family=Roboto:400,400italic,500|Inconsolata"}
  %link{:rel => "alternate", :type => "application/atom+xml", :href => "https://mhyee.com/feed.xml", :title => "Feed for Ming-Ho's Blog"}
  %meta{:name => "generator", :content => "nanoc 3.2.4"}
